{% extends "djangoproject/base.html" %}
{% block content %}
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
<div class="jumbotron">
  <h1 class="display-4">Listed Your University In Student Community </h1>

  <p class="lead">Complete The Survey And Become a Part of Larget Student Community</p>
  <hr class="my-4">

  <a class="btn btn-primary btn-lg" href="https://forms.office.com/Pages/ResponsePage.aspx?id=syGyEmQEI0KJ5YiINXeLWH56s-GNQqJAowYpamBq5rBUMVFFTzlLTUYwVUlSVktBRTMxUEsyNkJZNS4u" role="button">Learn more</a>
</div>
        </small>
    </div>
{% endblock content %}