{% extends "djangoproject/base.html" %}
{% block content %}
<!-- Jumbotron -->
<div class="jumbotron p-0">

  <!-- Card image -->
  <div class="view fa-stack-overflow">
    <img src="https://djangouser.blob.core.windows.net/media/profile_pics/student-849828_1920.jpg" class="img-thumbnail" alt="Sample image">
    <a href="#">
      <div class="select2-close-mask"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body text-center mb-2">

    <!-- Title -->
    <h3 class="glyphicon-credit-card"><strong>Welcome to Rate Your Professor</strong></h3>
    <!-- Text -->
    <p class="bk-ui-icon-mail-closed">

The site that finally gives students a say. RYP is essentially a giant sounding board; so instead of hoping a friend knows how good a lecturer is you can visit this site and see reviews put up by other students whilst adding your own. This is the only way to improve teaching in the Pakistan whilst holding your lecturers to account. Please do take a couple of minutes to add your thoughts and help out your fellow students!
</p><!-- Button -->


  </div>

</div>
<!-- Jumbotron -->
{% endblock content %}