{% load static %}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css'%}">

    <meta charset="UTF-8">
 <link rel='shortcut icon' type='image/x-icon' href='https://djangouser.blob.core.windows.net/media/profile_pics/favicon.ico' />
    {% if title %}

    <title> Rate Your Professor- {{ title }}</title>
    {% else %}
    <title> Rate Your Professor</title>
    {% endif %}
</head>


<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Rate Your Professor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                    {% if not user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
{% endif %}
                        {% if not user.is_authenticated %}

                            <a class="nav-item nav-link" href="{% url 'team' %}">Team</a>
                            <a class="nav-item nav-link" href="{% url 'coding_help' %}"target="_blank">MrCoder</a>
                        {% endif %}
                    {% if user.is_authenticated %}
                         <a class="nav-item nav-link" href="{% url 'forum:index' %}"target="_blank">Forum</a>
                         <a class="nav-item nav-link" href="{% url 'coding_help' %}"target="_blank">MrCoder</a>

                    {% endif %}
                    </div>

                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">

                        {% if user.is_authenticated %}


                           <!-- <a class="nav-item nav-link" href="{% url 'ask-question' %}">Discussion </a>-->
                            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>


                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                             <a href="{% url 'post-create' %}" class="btn btn-info secondary" role="button">Write a Post </a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                            <a href="{% url 'post-create' %}" class="btn btn-info secondary" role="button">Write a Post </a>

                        {% endif %}
                    </div>
                </div>

            </div>
        </nav>

    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for messages in messages %}
                        <div class="alert alert-{{ messages.tags }}">
                            {{ messages }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>

            <div class="col-md-4">
                <div class="content-section">
                    <center><h3>Menu</h3></center>

                    <ul class="list-group">
                    <li  class="list-group-item list-group-item-light"> <a href="{% url 'blog-home' %}">Latest Posts</a></li>


                    {% if not  user.is_authenticated %}
                    <li class="list-group-item list-group-item-light"><a href="{% url 'login' %}">Search Users</a></li>
                     <li class="list-group-item list-group-item-light"><a href="{% url 'login'  %}">Search</a></li>
                          <li class="list-group-item list-group-item-light"><a href={% url 'faq_page' %}> Help / FAQ  </a></li>
                        <li class="list-group-item list-group-item-light"><a href={% url 'contact' %}>Advertisement</a></li>

                      {% endif %}
                        {% if user.is_authenticated %}
                        <li class="list-group-item list-group-item-light"><a href="{% url 'search-blog' %}">Search Users</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'search-blog-review' %}">Search</a></li>
                             <li class="list-group-item list-group-item-light"><a href="{% url 'faq_page' %}"> Help / FAQ  </a></li>
                              <li class="list-group-item list-group-item-light"><a href={% url 'contact' %}>Advertisement</a></li>

                        {% endif %}
                    </ul>

                    </p>

                </div>

            <div class="list-group">

                <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'university_page' %}">Top Universities</a></button>
                <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'cities' %}" >Top Cities</a></button>
  <button type="button" class="list-group-item list-group-item-action">Top Rating Reviews </button>
  <button type="button" class="list-group-item list-group-item-action">Top Teacher Name</button>

                <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(23, 27, 27);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
    color: #000000;
  right: 25px;
  font-size: 36px;
  margin-left: 60px;
}

@media screen and (max-height: 400px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <a href="{% url 'blogger_page' %}">Blog + </a>
  <a href="{% url 'home' %}">Student Share </a>
  <a href="{% url 'Hacking_page' %}"#>Ethical Hacking </a>
    <a href="{% url 'utility' %}">Utilities</a>
    <a href="#">Projects</a>
    <a href="#">Sadqa Jaria</a>
    <a href="#">Coding</a>
    <a href="{% url 'course_page' %}">Free Courses</a>
     <a href="#">Forum + </a>
     <a href="{% url 'homepage' %}">Raterz</a>
    <a href="#">Student Travel</a>
    <!DOCTYPE html>
<html>
<head>
<title>Font Awesome Icons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>



<span style="font-size:30px;cursor:pointer" onclick="closeNav()"><i class="fa fa-close" style="font-size:48px;color:red"></i></span>
</body>
</html>
</head>

</i>


</div>


<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;More Features</span>
    </button>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

</body>
</html>

</div>



</div>
    </main>

    <html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
</head>

<body>
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'blog-home' %}">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="http://adilshehzad.me/AboutRYP.html"target="_blank">About RYP </a></li>

                <li class="list-inline-item"><a href="{% url 'test_skills' %}"target="_blank">Test Your Skills</a></li>
                <li class="list-inline-item"><a href="{% url 'privacy_page' %}"target="_blank">Privacy Policy </a></li>
                <li class="list-inline-item"><a href="{% url 'whatisreview' %}"target="_blank">What is Review</a></li>
                <li class="list-inline-item"><a href="{% url 'donationpage' %}"target="_blank">Donate Us</a></li>
            </ul>
            <p class="copyright">Thank You Microsoft Azure For  Sponsored Rate Your Professor © 2019 . </p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </html>
</body>
</body>

</html>
