{% extends "djangoproject/base.html" %}
{% load pinax_ratings_tags %}
{% load comments %}
{% load comments_xtd %}
{% load static %}
{% load social_share %}
{% block content %}


<h1 xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml"> </h1>
<article class="media content-section">
    <a class="mr-2" href="{% url 'user-posts' object.author.username %}"> <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"> </a>
    <div class="media-body">
        <div class="article-metadata">
            <h5>Topic :<font color="green"> {{object.topic}} </font></h5>


            <br>
            {% for tag in post.tags.all %}
                                        <a href="#" class="mr-1 badge badge-info">#{{ tag }}</a>
            {% endfor %}
            <p>
                <small class="text-muted"> Date Posted : {{object.date_posted|date:"F d, Y" }}</small>
            </p>
        </div>

{% autoescape off %}
        <h5><font color="#483d8b"> {{object.content}} </font></h5>
{% endautoescape %}
{{object.image}}


        {% if object.author == user %}
            <a class="mr-2" href="{% url 'post-update' object.id %}">Update</a>
            <a class="mr-2" href="{% url 'post-delete' object.id %}">Delete</a>

        {% endif %}

{% if not user.is_authenticated %}
    <div class="alert alert-dismissible "role="alert">
  Please Login to Get Comment Feature !
</div>

    </div>
    {% endif %}

{% post_to_facebook object_or_url "Post to Facebook!" %}
</article>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="" data-numposts="5"></div>

{% endblock %}